<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<style>
    header{
        background-color: #8F1615 !important;
       
    }
        header li a{
            color: white !important;
        }
        header .dropdown-menu li a{
            color: #383838 !important;
        }

        header .dropdown-menu li a:hover {
            color: white !important;
        }
        header .navbar-brand {
            color: white !important;
        }
        header .caret {
            border-top-color: white !important;
            border-bottom-color: white !important;
        }
        header .dropdown:active .caret {
            border-top-color: #383838 !important;
            border-bottom-color: #383838 !important;
        }
        header .dropdown .open .dropdown-toggle {
            color: #383838 !important;
        }
</style>
<body>
    <header class="navbar navbar-default navbar-fixed-top navbar-inner" ng-controller="layoutController as vm" ng-cloak>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3" ng-click="vm.isCollapsed = !vm.isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand visible-xs" href="/">Carga Academica</a>
            </div>
            <nav class="hidden-xs" >
                <ul class="nav navbar-nav">
                    <a href="/" role="button" class="navbar-brand">
                        Carga Academica
                    </a>
                    <li class="dropdown" uib-dropdown>
                        <a href="" role="button" class="dropdown-toggle" uib-dropdown-toggle>
                            Capturas <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Unidades","Index","Unidad")</li>
                            <li>@Html.ActionLink("Departamentos", "Index", "Departamento")</li>
                            <li>@Html.ActionLink("Programas Educativos", "Index", "ProgramaEducativo")</li>
                            <li>@Html.ActionLink("Meses", "Index", "Mes")</li>
                            <li>@Html.ActionLink("Trimestres", "Index", "Trimestre")</li>
                            <li>@Html.ActionLink("Turnos", "Index", "Turno")</li>
                            <li>@Html.ActionLink("Categorias", "Index", "Categoria")</li>
                            <li>@Html.ActionLink("Modulos", "Index", "Modulo")</li>
                            <li>@Html.ActionLink("Modulos Grupo", "Index", "ModuloGrupo")</li>
                            <li>@Html.ActionLink("Nombramientos", "Index", "Nombramiento")</li>
                            <li>@Html.ActionLink("Maestros", "Index", "Maestro")</li>
                            <li>@Html.ActionLink("Materias", "Index", "Materia")</li>
                            <li>@Html.ActionLink("Perfil Docente", "Index", "PerfilDocente")</li>
                            <li>@Html.ActionLink("Grupos", "Index", "Grupo")</li>
                            <li>@Html.ActionLink("Programa Educativo Detalle", "Index", "ProgramaEducativoDetalle")</li>
                            <li>@Html.ActionLink("Disponibilidades de Grupos", "Index", "GrupoDisponibilidad")</li>
                        </ul>
                    </li>
                    <li><a href="">Generar Carga Academica</a></li>
                    <li><a href="">Reportes</a></li>
                    
                </ul>
            </nav>
            <nav class="visible-xs" uib-collapse="!vm.isCollapsed" aria-expanded="false" aria-hidden="true" style="height: 0px;">
                <ul class="nav navbar-nav" ng-show="vm.isCollapsed">
                    <li class="dropdown" uib-dropdown>
                        <a href="" role="button" class="dropdown-toggle" uib-dropdown-toggle>
                            Capturas <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Unidades", "Index", "Unidad")</li>
                            <li>@Html.ActionLink("Departamentos", "Index", "Departamento")</li>
                            <li>@Html.ActionLink("Programas Educativos", "Index", "ProgramaEducativo")</li>
                            <li>@Html.ActionLink("Meses", "Index", "Mes")</li>
                            <li>@Html.ActionLink("Trimestres", "Index", "Trimestre")</li>
                            <li>@Html.ActionLink("Turnos", "Index", "Turno")</li>
                            <li>@Html.ActionLink("Categorias", "Index", "Categoria")</li>
                            <li>@Html.ActionLink("Modulos", "Index", "Modulo")</li>
                            <li>@Html.ActionLink("Modulos Grupo", "Index", "ModuloGrupo")</li>
                            <li>@Html.ActionLink("Nombramientos", "Index", "Nombramiento")</li>
                            <li>@Html.ActionLink("Maestros", "Index", "Maestro")</li>
                            <li>@Html.ActionLink("Materias", "Index", "Materia")</li>
                            <li>@Html.ActionLink("Perfil Docente", "Index", "PerfilDocente")</li>
                            <li>@Html.ActionLink("Grupos", "Index", "Grupo")</li>
                            <li>@Html.ActionLink("Programa Educativo Detalle", "Index", "ProgramaEducativoDetalle")</li>
                            <li>@Html.ActionLink("Disponibilidades de Grupos", "Index", "GrupoDisponibilidad")</li>
                        </ul>
                    </li>
                    <li><a href="">Generar Carga Academica</a></li>
                    <li><a href="">Reportes</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
        
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Aplicacion Cargas Academicas</p>
        </footer>
    </div>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-touch.min.js"></script>
    <script src="~/Scripts/ui-bootstrap-2.5.0.min.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Angularjs/app.js?1.1.4"></script>
    <script src="~/Angularjs/Factories/ajax.js?1.5"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
